In [4]:
import openai

# Generating openAI API key

In [2]:
apiKey="insert your OpenAI API key here"

In [5]:
openai.api_key=apiKey

In [8]:
model_list=list(openai.models.list())
model_list

[Model(id='dall-e-3', created=1698785189, object='model', owned_by='system'),
 Model(id='dall-e-2', created=1698798177, object='model', owned_by='system'),
 Model(id='tts-1-hd-1106', created=1699053533, object='model', owned_by='system'),
 Model(id='tts-1-hd', created=1699046015, object='model', owned_by='system'),
 Model(id='text-embedding-3-large', created=1705953180, object='model', owned_by='system'),
 Model(id='babbage-002', created=1692634615, object='model', owned_by='system'),
 Model(id='text-embedding-3-small', created=1705948997, object='model', owned_by='system'),
 Model(id='tts-1', created=1681940951, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo', created=1677610602, object='model', owned_by='openai'),
 Model(id='whisper-1', created=1677532384, object='model', owned_by='openai-internal'),
 Model(id='text-embedding-ada-002', created=1671217299, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo-16k', created=1683758102, object='model', owned_by='openai-internal'),
 Model(id='davinci-002', created=1692634301, object='model', owned_by='system'),
 Model(id='tts-1-1106', created=1699053241, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-0125', created=1706048358, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-1106', created=1698959748, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-instruct-0914', created=1694122472, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-instruct', created=1692901427, object='model', owned_by='system'),
 Model(id='gpt-4o-mini-2024-07-18', created=1721172717, object='model', owned_by='system'),
 Model(id='gpt-4o-mini', created=1721172741, object='model', owned_by='system')]

In [12]:
import pandas as pd
pd.DataFrame(model_list, columns=["id","created","object","owned_by"])

,id,created,object,owned_by
0,"(id, dall-e-3)","(created, 1698785189)","(object, model)","(owned_by, system)"
1,"(id, dall-e-2)","(created, 1698798177)","(object, model)","(owned_by, system)"
2,"(id, tts-1-hd-1106)","(created, 1699053533)","(object, model)","(owned_by, system)"
3,"(id, tts-1-hd)","(created, 1699046015)","(object, model)","(owned_by, system)"
4,"(id, text-embedding-3-large)","(created, 1705953180)","(object, model)","(owned_by, system)"
5,"(id, babbage-002)","(created, 1692634615)","(object, model)","(owned_by, system)"
6,"(id, text-embedding-3-small)","(created, 1705948997)","(object, model)","(owned_by, system)"
7,"(id, tts-1)","(created, 1681940951)","(object, model)","(owned_by, openai-internal)"
8,"(id, gpt-3.5-turbo)","(created, 1677610602)","(object, model)","(owned_by, openai)"
9,"(id, whisper-1)","(created, 1677532384)","(object, model)","(owned_by, openai-internal)"
10,"(id, text-embedding-ada-002)","(created, 1671217299)","(object, model)","(owned_by, openai-internal)"
11,"(id, gpt-3.5-turbo-16k)","(created, 1683758102)","(object, model)","(owned_by, openai-internal)"
12,"(id, davinci-002)","(created, 1692634301)","(object, model)","(owned_by, system)"
13,"(id, tts-1-1106)","(created, 1699053241)","(object, model)","(owned_by, system)"
14,"(id, gpt-3.5-turbo-0125)","(created, 1706048358)","(object, model)","(owned_by, system)"
15,"(id, gpt-3.5-turbo-1106)","(created, 1698959748)","(object, model)","(owned_by, system)"
16,"(id, gpt-3.5-turbo-instruct-0914)","(created, 1694122472)","(object, model)","(owned_by, system)"
17,"(id, gpt-3.5-turbo-instruct)","(created, 1692901427)","(object, model)","(owned_by, system)"
18,"(id, gpt-4o-mini-2024-07-18)","(created, 1721172717)","(object, model)","(owned_by, system)"
19,"(id, gpt-4o-mini)","(created, 1721172741)","(object, model)","(owned_by, system)"

In [16]:
from openai import OpenAI
client = OpenAI(api_key=apiKey)

response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {
      "role": "system",
      "content": [
        {
          "type": "text",
          "text": "As an high school teacher "
        }
      ]
    },
    {
      "role": "user",
      "content": [
        {
          "type": "text",
          "text": "What can you say about planet Mars?"
        }
      ]
    }
  ],
  temperature=1,
  max_tokens=256,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0,
  response_format={
    "type": "text"
  }
)

In [19]:
response.choices[0].message.content

'Mars is often referred to as the "Red Planet" due to its reddish appearance, which is caused by iron oxide, or rust, on its surface. It is the fourth planet from the Sun in our solar system and is known for its similarities to Earth, such as a day length and seasonal changes. \n\nMars has a thin atmosphere composed mostly of carbon dioxide, and its surface features include vast deserts, polar ice caps, and the largest volcano in the solar system, Olympus Mons. There is also evidence of liquid water having flowed on the surface in the past, indicating the potential for the existence of life at some point in Mars\' history. \n\nIn recent years, Mars has been a focal point for space exploration efforts, with multiple robotic missions sent to study its surface and atmosphere. There are also plans for future human exploration missions to Mars, with the goal of potentially establishing a human presence on the planet. Overall, Mars is a fascinating world that continues to intrigue scientists and space enthusiasts alike.'

In [21]:
import langchain

In [23]:
student_description = "Akin is a student of computer science at Osun state university in Nigeria. He is a Nigerian and has a GPA of 5.0. Akin is well known for his programming skills and is an active member of the College's AI Club. He hopes to pursue a career in software engineering after his graduation"

In [24]:
student_description

"Akin is a student of computer science at Osun state university in Nigeria. He is a Nigerian and has a GPA of 5.0. Akin is well known for his programming skills and is an active member of the College's AI Club. He hopes to pursue a career in software engineering after his graduation"

In [25]:
prompt = f''' Please extract the following information from the given text and return it as a JSON object

name
college
grades
club

This is the body to extract the information from: {student_description}
'''

In [26]:
prompt

" Please extract the following information from the given text and return it as a JSON object\n\nname\ncollege\ngrades\nclub\n\nThis is the body to extract the information from: Akin is a student of computer science at Osun state university in Nigeria. He is a Nigerian and has a GPA of 5.0. Akin is well known for his programming skills and is an active member of the College's AI Club. He hopes to pursue a career in software engineering after his graduation\n"

In [39]:
from openai import OpenAI
client = OpenAI(api_key=apiKey)

In [30]:
response = client.chat.completions.create(
 model="gpt-3.5-turbo",
  messages=[

    {
      "role": "user",
      "content": prompt
    }
  ]
    
)

In [36]:
output = response.choices[0].message.content

In [37]:
import json
json.loads(output)

{'name': 'Akin',
 'college': 'Osun state university',
 'grades': 5.0,
 'club': 'AI Club'}

In [45]:
student_custom_function = [{
'name': 'extract_student_info',
'description': 'Get the student information from the body of the input text',
'parameters':{
    'type': 'object',
    'properties': {
        'name':{
            'type':'string',
            'description':'Name of the person'
        },
        'college': {
            'type':'string',
            'description': 'The college name'
        },
        'grades':{
            'type':'string',
             'description': 'CGPA of the student'
        },
        'club':{
            'type':'string',
            'description':'college club for extracurricular activities.'
    }
}
}  
}]

In [44]:
student_description1 = "Akin is a student of computer science at Osun state university in Nigeria. He is a Nigerian and has a GPA of 5.0. Akin is well known for his programming skills and is an active member of the College's AI Club. He hopes to pursue a career in software engineering after his graduation"
student_description2 = "Timmy is a student of political science at Covenant university in Nigeria. He is a Nigerian and has a GPA of 4.0. Timmy is well known for his socio-political skills and is an active member of the College's politics Club. He hopes to pursue a career in human welfarism after his graduation"

In [46]:
response = client.chat.completions.create(
 model="gpt-3.5-turbo",
  messages=[

    {
      "role": "user",
      "content": student_description1
    },
    
  ],
    functions=student_custom_function
    
)

In [50]:
json.loads(response.choices[0].message.function_call.arguments)

{'name': 'Akin',
 'college': 'Osun state university',
 'grades': '5.0',
 'club': 'AI Club'}

In [52]:
student_info = [student_description1,student_description2]

for student in student_info:
    response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[{ "role": "user","content": student},],
    functions=student_custom_function,
    function_call='auto'
        
    )
    res=json.loads(response.choices[0].message.function_call.arguments)
    print(res)

{'name': 'Akin', 'college': 'Osun state university', 'grades': '5.0', 'club': 'AI Club'}
{'name': 'Timmy', 'college': 'Covenant university', 'grades': '4.0', 'club': 'politics Club'}

In [59]:
flight_description = [{
'name':'get_flight_info',
'description':'Get flight information between two locations',
'parameters':{
    'type':'object',
    'properties': {
        'loc_origin':{
            'type':'string',
            'description':'The departure airport'
        },
        'loc_destination':{
            'type':'string',
            'description':'The destination airport'
        }

        
    },
    'required':['loc_origin','loc_destination']
}

    
}]

In [57]:
user_prompt = "When is the next flight from new delhi to mumbai?"

In [75]:
response2 = client.chat.completions.create(
model="gpt-3.5-turbo",
messages=[{ "role": "user","content": user_prompt },],
functions=flight_description,
function_call='auto'
    
)

In [76]:
from datetime import datetime, timedelta

def get_flight_info(loc_origin, loc_destination):
    """ Get flight information between two locations"""
    flight_info = {
        "loc_origin":loc_origin,
        "loc_destination":loc_destination,
        "datetime": str(datetime.now() + timedelta(hours=2)),
        "airline": "KLM",
        "flight" :"KL643"
    }
    return json.dumps(flight_info)

In [77]:
params=json.loads(response2.choices[0].message.function_call.arguments)

In [78]:
response2.choices[0].message.function_call

FunctionCall(arguments='{"loc_origin":"New Delhi","loc_destination":"Mumbai"}', name='get_flight_info')

In [79]:
chosen_function = eval(response2.choices[0].message.function_call.name)

In [74]:
flight = chosen_function(**params)
flight

'{"loc_origin": "DEL", "loc_destination": "BOM", "datetime": "2024-08-09 18:45:17.926312", "airline": "KLM", "flight": "KL643"}'

In [80]:
response3 = client.chat.completions.create(
model = "gpt-3.5-turbo",
messages = [
    {"role":"user","content":user_prompt},
    {"role":"function","name":response2.choices[0].message.function_call.name, "content":flight}
    
],
    functions = flight_description,
    function_call = "auto",
    
)

In [81]:
response3.choices[0].message

ChatCompletionMessage(content='The next flight from New Delhi (DEL) to Mumbai (BOM) is on August 9, 2024 at 18:45. The flight is operated by KLM with flight number KL643.', refusal=None, role='assistant', function_call=None, tool_calls=None)

Function Calling: it connects the LLM to external tools